.productItem {
  padding: 25px;
  background: #fff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;

  .topSide {
    display: flex;
    flex-direction: column;
    align-items: center;

    .productImg {
      border-radius: 15px;
      object-fit: cover;
    }

    .productName {
      text-align: center;
      margin-top: 10px;
      font-size: 15px;
    }
  }

  .bottomSide {
    align-self: flex-start;

    .productCategory {
      opacity: 0.7;
    }

    .productPrice {
      font-size: 20px;
      align-self: start;
    }
  }
}
